# Bestanden
.coverage
.DS_Store
.env
.env.example
.gitignore
.gitlab-ci.yml
.Python
README.md
*.avi
*.log
*.m4a
*.mkv
*.mp3
*.mp4
*.opus
*.pyd
*.pyc
*.pyo
*.srv*
*.swo
*.swp
*.vtt

# Mappen
.idea/
.vscode/
__pycache__/
downloads/
ENV/
Documenten/
.git/
.pytest_cache/
.venv/
venv/
