Documenten/
.gitlab-ci.yml
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git
.gitignore
.env.example
downloads/
*.mp4
*.avi
*.mkv
*.webm
*.m4a
*.mp3
*.opus
*.vtt
*.srv*
README.md
.pytest_cache
.coverage
htmlcov
*.log
.DS_Store
.idea
.vscode
*.swp
*.swo